{% extends 'main_dev/base.html' %}

{% block content %}
    <section id="main-content" class=" ">
                <section class="wrapper main-wrapper" style=''>
                <button class="btn btn-done"><a href="{% url 'create_to_do' %}">Create To Do</a></button>
                <div class="container">

                </div>
                <h2>Boss Task</h2>
                    {% for task in tasks %}
                        <div class="todo-item {% if task.is_complete %}completed{% endif %}">
                            <div class="todo-title">{{ task.title }}</div>
                            <div class="todo-description">{{ task.description }}</div>
                            <div class="todo-description">Owner: Boss to {{ task.user }}</div>
                            <div class="todo-footer">
                                {% if task.deadline %}
                                  <div class="todo-deadline">Deadline: {{ task.deadline }}</div>
                                {% else %}
                                  <div class="todo-deadline">No deadline</div>
                                {% endif %}
                                {% if task.date %}
                                    <div class="todo-deadline">Date: {{ task.date }}</div>
                                {% else %}
                                  <div class="todo-deadline">No date</div>
                                {% endif %}
                                <div class="todo-actions ">
                                    <button class="btn btn-done"><a href="{% url 'delete_task' task.pk %}">Done</a></button>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                <h2>Your Task</h2>
                    {% for todo in todos %}
                        <div class="todo-item {% if todo.is_complete %}completed{% endif %}">
                            <div class="todo-title">{{ todo.title }}</div>
                            <div class="todo-description">{{ todo.description }}</div>
                            <div class="todo-description">Owner: You </div>
                            <div class="todo-footer">
                                <div class="todo-deadline">Deadline: {{ todo.deadline|date:"d-m-Y" }}</div>
                                <div class="todo-actions ">
                                    <button class="btn btn-edit"><a href="{% url 'edit_todo' todo.pk %}">Edit</a></button>
                                    <button class="btn btn-done"><a href="{% url 'complete_todo' todo.pk %}">Done</a></button>
                                    <button class="btn btn-delete"><a href="{% url 'delete_todo' todo.pk %}">Delete</a></button>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                <h2>Your Project</h2>
                    {% for project in projects %}
                        <div class="todo-item">
                            <div class="todo-title">{{ project.title_name }}</div>
                            <div class="todo-description">{{ project.description }}</div>
                            <div class="todo-description">TeamLead: {{ project.user }}</div>
                            <div class="todo-description">Developers: </div>
                            <ul>
                                {% for developer in project.developers.all %}
                                    <li>{{ developer.username }} - {{ developer.first_name }} {{ developer.last_name }}</li>
                                {% endfor %}
                            </ul>

                            <div class="todo-footer">
                                {% if project.deadline %}
                                  <div class="todo-deadline">Deadline: {{ project.deadline }}</div>
                                {% else %}
                                  <div class="todo-deadline">No deadline</div>
                                {% endif %}

                                    <div class="todo-deadline">Date: {{ project.created_at }}</div>
                            </div>
                        </div>
                    {% endfor %}
                    </section>
            </section>
    
{% endblock %}